# App
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme

# Google OAuth
GOOGLE_CLIENT_ID=changeme
GOOGLE_CLIENT_SECRET=changeme

# Database
DATABASE_URL=postgresql://vocab:vocab@localhost:5432/vocab

# E2E tests
E2E_TEST=false
E2E_TEST_PASSWORD=e2e
NEXT_PUBLIC_E2E_TEST=false
